<!DOCTYPE html>
<html lang="es">
<head>
    <!-- META ETIQUETAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Diseñamos y construimos casas de madera que combinan naturaleza, confort y diseño. Espacios cálidos, sostenibles y hechos para durar, pensados para quienes buscan vivir en armonía con el entorno.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Gabriel V.A.">
    <meta name="keywords" content="casa, casa de madera, coruña, casa de madrea natural, casa de madera coruña">
    <meta name="locality" content="culleredo, Galicia, España">
    <meta name="category" content="Spanish, Spain, Wood carpentry">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="../estilos/estilos.css">
    <!-- TITULO-->
    <title>MAGG || Casas de diseño</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">
                    <img class="logo-img" src="../assets/img/MAGG.png" alt="Logo" width="55" height="55">
                    <span class="leter-logo">MAGG</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-center w-100">
                        <li class="nav-item">
                            <a class="nav-link" id="navEstudio" aria-current="page" href="../index.html">El Estudio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navCasos" href="./productos.html">Casos de Éxito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="navProyecto" href="#">Inicia tu Proyecto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navCita" href="./contacto.html">Agendar Cita</a>
                        </li>
                    </ul>
                    <div class="dropdown language-selector">
                    <button class="btn d-flex align-items-center p-0 border-0" type="button" aria-expanded="false" data-lang="es">
                        <img id="banderaActual" src="../assets/img/espana.png" alt="España" width="25" height="25">
                    </button>
                    <!-- Dropdown de selección de idioma -->
                    <ul class="dropdown-menu p-1">
                        <li>
                            <button class="dropdown-item d-flex align-items-center p-2 idioma-btn" type="button" data-lang="es">
                                <img src="../assets/img/espana.png" alt="España" width="25" height="25">
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center p-2 idioma-btn" type="button" data-lang="gl">
                                <img src="../assets/img/galicia.png" alt="Galego" width="25" height="25">
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center p-2 idioma-btn" type="button" data-lang="en">
                                <img src="../assets/img/reino-unido.png" alt="Inglés" width="25" height="25">
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center p-2 idioma-btn" type="button" data-lang="pt">
                                <img src="../assets/img/portugal.png" alt="Portugués" width="25" height="25">
                            </button>
                        </li>
                    </ul>
                </div>
                <a href="./contacto.html" id="btnContacto" class="contactHeader">Contáctanos</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
    <section class="presupuesto-section">
        <h1 id="presupuestoTitulo">Solicita tu presupuesto</h1>
        <form id="formPresupuesto" class="formulario">
            <!-- DATOS CONTACTO -->
            <div class="bloque-form">
                <h2 id="presupuestoContactoTitulo">Datos de contacto</h2>
                <div class="campo">
                    <label for="nombre">
                        <strong id="presupuestoNombreLabel">Nombre</strong>
                    </label>
                    <input type="text" id="nombre" maxlength="15" placeholder="Introduce tu nombre" required>
                </div>
                <div class="campo">
                    <label for="apellidos">
                        <strong id="presupuestoApellidosLabel">Apellidos</strong>
                    </label>
                    <input type="text" id="apellidos" maxlength="40" placeholder="Introduce tus apellidos" required>
                </div>
                <div class="campo">
                    <label for="telefono">
                        <strong id="presupuestoTelefonoLabel">Teléfono</strong>
                    </label>
                    <input type="tel" id="telefono" maxlength="9" placeholder="123456789" required>
                </div>
                <div class="campo">
                    <label for="email">
                        <strong id="presupuestoEmailLabel">Email</strong>
                    </label>
                    <input type="email" id="email" placeholder="ejemplo@email.com" required>
                </div>
            </div>
            <!-- PRESUPUESTO -->
            <div class="bloque-form">
                <h2 id="presupuestoConfigTitulo">Configura tu vivienda</h2>
                <!-- producto -->
                <div class="campo">
                    <label for="producto">
                        <strong id="presupuestoProductoLabel">Producto</strong>
                    </label>
                    <select id="producto">
                        <option value="95000" id="productoRural">
                            Casa Rural - 95.000€
                        </option>
                        <option value="120000" id="productoModerna">
                            Casa Moderna - 120.000€
                        </option>
                        <option value="180000" id="productoPremium">
                            Casa Premium - 180.000€
                        </option>
                    </select>
                </div>
                <!-- plazo -->
                <div class="campo">
                    <label for="plazo">
                        <strong id="presupuestoPlazoLabel">Plazo (meses)</strong>
                    </label>
                    <input type="number" id="plazo" min="1" max="24" value="6">
                </div>
                <!-- extras -->
                <div class="campo">
                    <strong id="presupuestoExtrasLabel">Extras</strong>
                    <div class="extras">
                        <label id="extraSolaresLabel">
                            <input type="checkbox" value="12000" class="extra">
                            Paneles solares (+12.000€)
                        </label>
                        <label id="extraPiscinaLabel">
                            <input type="checkbox" value="18000" class="extra">
                            Piscina (+18.000€)
                        </label>
                        <label>
                            <input id="extraGarajeLabel" type="checkbox" value="10000" class="extra">
                            Garaje (+10.000€)
                        </label>
                    </div>
                </div>
                <!-- precio -->
                <div class="precio-final">
                    <h3>
                        <span id="presupuestoTotalLabel">Presupuesto total:</span>
                        <span id="precioTotal">0€</span>
                    </h3>
                </div>
            </div>
            <!-- privacidad -->
            <div class="campo-checkbox">
                <input type="checkbox" id="privacidad" required>
                <label for="privacidad" id="presupuestoPrivacidadLabel">
                    Acepto la
                    <a href="./aviso-legal.html" id="presupuestoPrivacidadLink">Política de privacidad</a>
                </label>
            </div>
            <div class="botones-form">
                <button type="submit" id="presupuestoBtnEnviar">Enviar solicitud</button>
                <button type="reset" id="presupuestoBtnReset">Resetear</button>
            </div>
        </form>
    </section>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row bg-#5A3A29 text-light py-4">
                <div class="col-md-4 col-lg-4">
                    <h4 id="footerSecciones" class="border-bottom pb-2">Secciones</h4>
                    <ul class="navbar-nav justify-content-center w-100">
                        <li class="nav-item pb-2 pt-2">
                            <a class="link" id="footerEstudio" aria-current="page" href="../index.html">El Estudio</a>
                        </li>
                        <li class="nav-item pb-2 pt-2">
                            <a class="link" id="footerCasos" href="./productos.html">Casos de Éxito</a>
                        </li>
                        <li class="nav-item pb-2 pt-2">
                            <a class="link" id="footerProyecto" href="#">Inicia tu Proyecto</a>
                        </li>
                        <li class="nav-item pb-2 pt-2">
                            <a class="link" id="footerCita" href="./contacto.html">Agendar Cita</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="row text-center">
                        <div class="col-12 p-3">
                            <img src="../assets/img/MAGG.png" alt="Logo" width="90" height="90">
                        </div>
                        <div class="col-md-4 mt-3 pt-3">
                            <a href="https://www.facebook.com" target="_blank">
                                <img src="../assets/img/facebook.png" alt="Facebook" width="30" height="30">
                            </a>
                        </div>
                        <div class="col-md-4 mt-3 pt-3">
                            <a href="https://www.instagram.com" target="_blank">
                                <img src="../assets/img/application_15072085.png" alt="Instagram" width="30" height="30">
                            </a>
                        </div>
                        <div class="col-md-4 mt-3 pt-3">
                            <a href="https://www.twitter.com" target="_blank">
                                <img src="../assets/img/twitter_5968830.png" alt="Twitter" width="30" height="30">
                            </a>
                        </div>
                        <div class="col-12 mt-3 pt-3">
                            <span id="footerCopy">&copy; 2024 MAGG. Todos los derechos reservados.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <h4 id="footerContacto" class="text-end border-bottom pb-2">Contacto</h4>
                    <p id="footerDireccion" class="text-end">AC-213, 91, 15174 Culleredo, La Coruña</p>
                    <p id="footerHorario" class="text-end">Lunes - Viernes</p>
                    <p id="footerHorarioHora" class="text-end">9:00 - 20:00</p>
                    <p id="footerEmail" class="text-end">info@magg.es</p>
                    <p id="footerTelefono" class="text-end">981 123 456</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center bg-dark text-light py-2">
                <div class="col-12 text-center">
                    <a class="link" href="./aviso-legal.html">
                        <span id="legalAviso">Aviso legal</span>
                    </a>
                    <a class="link" href="./politica-privacidad.html">
                        <span id="legalPrivacidad">Política de privacidad</span>
                    </a>
                    <a class="link" href="./politica-cookies.html">
                        <span id="legalCookies">Política de cookies</span>
                    </a>
                    <a class="link" href="./politica-ventas.html">
                        <span id="legalVentas">Política de ventas</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!--JS-->
    <script src="../js/javascript.js"></script>
</body>
</html>